@model IEnumerable<AssetHistoryServiceModel>

<style>
    table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
td:first-child,
th:first-child {
  border-radius: 7px 0 0 7px;
}

td:last-child,
th:last-child {
  border-radius: 0 7px 7px 0;
}

tr{
  line-height: 45px;
}

td{
 max-width:400px;
 overflow: auto;
 white-space: nowrap;
 text-align: center;
}

th{
     text-align: center;
}
</style>

<div calss="row">
    <table class="table table-striped table-hover table-responsive-lg table-dark mt-5 mb-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Buy Date</th>
                <th scope="col">Invested Money</th>
                <th scope="col">Amount</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Sell Date</th>
                <th scope="col">Profit/Loss($)</th>
                <th scope="col">Profit/Loss(%)</th>
                <th scope="col">Descripton</th>
            </tr>
        </thead>
        @{
            int rowId = 0;
        }
        @foreach (var asset in Model)
        {
            rowId++;
            <tbody>
                <tr>
                    <th scope="row">@rowId</th>
                    <td>@asset.Name</td>
                    <td>@asset.Type</td>
                    <td>@asset.BuyPrice</td>
                    <td>@asset.BuyDate.ToShortDateString()</td>
                    <td>@asset.InvestedMoney</td>
                    <td>@asset.Amount</td>
                    <td>@asset.SellPrice</td>
                    <td>@asset.SellDate.ToShortDateString()</td>
                    <td>$@asset.ProfitLoss</td>
                    <td>@asset.ProfitLossPercent%</td>
                    <td>@asset.Description</td>
                </tr>
            </tbody>
        }
    </table>
</div>
