@model AllAssetsListViewModel
@{
    ViewData["Title"] = "My Assets";
}

<style>
    table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
td:first-child,
th:first-child {
  border-radius: 7px 0 0 7px;
}

td:last-child,
th:last-child {
  border-radius: 0 7px 7px 0;
}

tr{
  line-height: 45px;
  
}

td{
 max-width:400px;
 overflow: auto;
 white-space: nowrap;
 text-align: center;
}

th{
     text-align: center;
}

</style>

<div calss="row">
     <div class="card">
              <div class="card-body">
    <table class="table table-striped table-hover table-responsive-lg mt-5 mb-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">
                    <a asp-action="All" asp-route-sortOrder="@ViewData["NameSortParm"]">
                        Name
                    </a>
                </th>
                <th scope="col">
                    <a asp-action="All" asp-route-sortOrder="@ViewData["TypeSortParm"]">
                        Type
                    </a>
                </th>
                <th scope="col">Buy Price</th>
                <th scope="col">
                    <a asp-action="All" asp-route-sortOrder="@ViewData["BuyDateSortParm"]">
                        Buy Date
                    </a>
                </th>
                <th scope="col">
                    <a asp-action="All" asp-route-sortOrder="@ViewData["InvestedMoneySortParm"]">
                    Invested Money
                    </a>
                </th>
                <th scope="col">Amount</th>
                <th scope="col">Current Price</th>
                <th scope="col">
                    <a asp-action="All" asp-route-sortOrder="@ViewData["ProfitLossSortParm"]">
                        Profit/Loss($)
                    </a>
                </th>
                <th scope="col">
                    <a asp-action="All" asp-route-sortOrder="@ViewData["ProfitLossPercentSortParm"]">
                        Profit/Loss(%)
                    </a>
                </th>
                <th scope="col">Descripton</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        @{
            int rowId = 0;
        }
        @foreach (var asset in Model.Assets)
        {
            rowId++;
            <tbody>
                <tr>
                    <th scope="row">@rowId</th>
                    <td>@asset.Name</td>
                    <td>@asset.Type</td>
                    <td>@asset.BuyPrice</td>
                    <td>@asset.BuyDate.ToShortDateString()</td>
                    <td>@asset.InvestedMoney</td>
                    <td>@asset.Amount</td>
                    <td>@asset.CurrentPrice</td>
                    <td>
                        @if(@asset.ProfitLoss > 0)
                        {
                            <div type="text" style="color:green">+$@asset.ProfitLoss</div>
                        }
                        else if(@asset.ProfitLoss < 0)
                        {
                            <div type="text" style="color:red">$@asset.ProfitLoss</div>
                        }
                        else
                        {
                            <div type="text">$@asset.ProfitLoss</div>
                        }
                    </td>
                    <td>
                           @if(@asset.ProfitLossPercent > 0)
                        {
                            <div type="text" style="color:green">+@asset.ProfitLossPercent%</div>
                        }
                        else if(@asset.ProfitLossPercent < 0)
                        {
                            <div type="text" style="color:red">@asset.ProfitLossPercent%</div>
                        }
                        else
                        {
                            <div type="text">@asset.ProfitLossPercent%</div>
                        }
                    </td>
                    <td>@asset.Description</td>
                    <td>
                        @using (Html.BeginForm("All", "Assets", new { id = @asset.Id}, FormMethod.Post)) {
                        <button type="button" class="btn btn-primary" value="Open" 
                        onclick="location.href='@Url.Action("Sell", "Assets")?id='+@asset.Id">Sell</button> 
                        <button class="btn btn-danger" name="X-HTTP-Method-Override" type="submit"
                        onclick="return confirm('Are you sure you want to delete asset: \nId: @rowId \nName: @asset.Name \nBuy Price: $@asset.BuyPrice \nInvested Money: $@asset.InvestedMoney')">
                            X
                        </button>
                        }
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item @if (!Model.HasPreviousPage) {<text> disabled </text>}">
      <a class="page-link" asp-action="All" asp-route-pageNumber="@Model.PreviousPageNumber" 
      asp-route-sortOrder="@ViewData["CurrentSort"]">Previous</a>
    </li>
            @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
            {
                if(i > 0)
                {
                    <li class="page-item"><a class="page-link" asp-action="All" asp-route-pageNumber="@i"
                    asp-route-sortOrder="@ViewData["CurrentSort"]">@i</a></li>              
                }
            } 
    <li class="page-item active">
      <span class="page-link">
        @Model.PageNumber
        <span class="sr-only"></span>
      </span>
    </li>
    @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 3; i++)
            {
                if(i <= Model.PagesCount)
                {
                    <li class="page-item"><a class="page-link" asp-action="All" asp-route-pageNumber="@i" 
                        asp-route-sortOrder="@ViewData["CurrentSort"]">@i</a></li>              
                }
            }
    <li class="page-item @if (!Model.HasNextPage) {<text> disabled </text>}">
      <a class="page-link" asp-action="All" asp-route-pageNumber="@Model.NextPageNumber"
      asp-route-sortOrder="@ViewData["CurrentSort"]">Next</a>
    </li>
  </ul>
</nav>
  <div align="right">
    <i>Last Updated Data: @Context.Request.Cookies["timer"]</i>
</div>
</div>

</div>
</div>
